nav{
  height: 70px;
  display: flex;
  grid-column:  1fr 2fr 3fr;
}
.navbar section{
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}